<form method="post">
    <input type="hidden" name="csrfmiddlewaretoken" value="tPYYyPOYYFfqhSNGRqaH642Vfnolfjamr25GUq6ShAOOELDHX98DgXJtAjWlUmOu">

<div id="div_id_title" class="mb-3"> <label for="id_title" class="block text-gray-700 text-sm font-bold mb-2">
            Title<span class="asteriskField">*</span> </label> <input type="text" name="title" maxlength="120" class="textinput leading-normal rounded-lg border text-gray-700 appearance-none block focus:outline-none py-2 bg-white border-gray-300 w-full px-4" required="" id="id_title"> </div> <div id="div_id_img" class="mb-3"> <label for="id_img" class="block text-gray-700 text-sm font-bold mb-2">
            Img<span class="asteriskField">*</span> </label> <input type="file" name="img" accept="image/*" class="clearablefileinput " required="" id="id_img"> </div> <div id="div_id_category" class="mb-3"> <label for="id_category" class="block text-gray-700 text-sm font-bold mb-2">
            Category<span class="asteriskField">*</span> </label> <div class="mb-3"> <div class="relative">
<select class="bg-white focus:outline-none border border-gray-300 rounded-lg py-2 px-4 block w-full appearance-none leading-normal text-gray-700" name="category"> <option value="">---------</option> </select>
<div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"> <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"></path> </svg> </div>
</div>
</div> </div> <div id="div_id_screen_type" class="mb-3"> <label for="id_screen_type" class="block text-gray-700 text-sm font-bold mb-2">
            Screen type<span class="asteriskField">*</span> </label> <div class="mb-3"> <div class="relative">
<select class="bg-white focus:outline-none border border-gray-300 rounded-lg py-2 px-4 block w-full appearance-none leading-normal text-gray-700" name="screen_type"> <option value="">---------</option> <option value="1">Panorámica</option> <option value="2">Vertical</option> </select>
<div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"> <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"></path> </svg> </div>
</div>
</div> </div>

    <button type="submit">Publicar aporte</button>
</form>