{% extends "main/base.html" %} {% block title %}Inicio de sesión{% endblock %}
{% load tailwind_filters %} {% block content %}

    <h1
        class="border-custom-dark-cyan-2 bg-custom-dark-cyan-2 text-custom-white m-auto w-80 content-center rounded-t-md border-2 px-4 py-1.5 text-center text-lg uppercase"
    >
        Iniciar sesión
    </h1>
    <form
        method="post"
        class="border-custom-dark-cyan-2 m-auto flex w-80 flex-col content-center items-center rounded-b-md border-2 p-4 shadow-lg"
    >
        {% csrf_token %}{{form|crispy}}
        <p class="my-2 text-center">
            ¿No tienes una cuenta?
            <a href="/sign-up" class="text-custom-dark-cyan-2 hover:underline"
                >Registrate</a
            >
        </p>
        <button
            type="submit"
            class="border-custom-dark-cyan-2 hover:bg-custom-dark-cyan-2 text-custom-dark-cyan-2 hover:text-custom-white mx-auto rounded-md border-2 p-1.5"
        >
            Iniciar sesión
        </button>
    </form>
</div>
{% endblock %}
