{% load static %}
<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}Wallpapers App{% endblock %}</title>
        <link
            href="{% static 'fontawesomefree/css/fontawesome.css' %}"
            rel="stylesheet"
            type="text/css"
        />
        <link
            href="{% static 'fontawesomefree/css/brands.css' %}"
            rel="stylesheet"
            type="text/css"
        />
        <link
            href="{% static 'fontawesomefree/css/solid.css' %}"
            rel="stylesheet"
            type="text/css"
        />
        <link rel="stylesheet" href="{% static 'css/output.css' %}" />
    </head>
    <body class="bg-custom-white">
        <nav class="mx-1 my-3 flex justify-between">
            <div class="flex items-end justify-start">
                <h1 class="text-custom-dark-cyan-2 text-xl font-extrabold">
                    Wallpapers APP
                </h1>
                <ul class="mx-2 flex justify-start">
                    <li>
                        <a
                            class="text-custom-dark-cyan-2 hover:bg-custom-dark-cyan-2 hover:text-custom-white mx-1 rounded-sm p-1.5"
                            href="/home"
                            >Inicio</a
                        >
                    </li>
                    <li>
                        <a
                            class="text-custom-dark-cyan-2 hover:bg-custom-dark-cyan-2 hover:text-custom-white mx-1 rounded-sm p-1.5"
                            href="/wallpaper-list"
                            >Explorar</a
                        >
                    </li>
                    <li>
                        <a
                            class="text-custom-dark-cyan-2 hover:bg-custom-dark-cyan-2 hover:text-custom-white mx-1 rounded-sm p-1.5"
                            href="/create-contribution"
                            >Crear aporte</a
                        >
                    </li>
                </ul>
            </div>
            <div class="flex items-end justify-end">
                <ul class="flex items-end justify-end">
                    {% if user.is_authenticated %}
                    <span>{{user.username}} | </span>
                    <li>
                        <form action="{% url 'logout' %}" method="post">
                            {% csrf_token %}
                            <button
                                type="submit"
                                class="text-custom-dark-cyan-2 mx-1 rounded-md px-1.5 hover:underline"
                            >
                                Cerrar sesión
                            </button>
                        </form>
                    </li>
                    {% else %}
                    <li>
                        <a
                            href="/login"
                            class="text-custom-dark-cyan-2 hover:bg-custom-dark-cyan-2 hover:text-custom-white mx-1 rounded-md p-1.5"
                            >Iniciar sesión</a
                        >
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <main>{% block content %}{% endblock %}</main>
    </body>
    <footer class="text-sm text-center my-4 text-custom-dark-cyan-2">Created with ♥ by puudu</footer>
</html>
