{% extends "main/base.html" %} {% block title %} Explorar {% endblock %} 
{% block content %}
<div class="md:flex">
    <div class="flex-1">
        <div
            class="mx-3 grid grid-cols-1 justify-items-center gap-5 md:grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4"
        >
            {% for wallpaper in wallpapers %}
            <div
                class="group relative aspect-video cursor-pointer items-center justify-center overflow-hidden rounded-sm transition-shadow hover:shadow-xl hover:shadow-black/30"
            >
                <a href="/wallpaper/{{wallpaper.id}}">
                    <img
                    class="aspect-video object-cover transition-transform duration-500 group-hover:scale-125"
                    src="{{ wallpaper.img.url }}"
                    alt=""
                    />
                </a>
            </div>
            {% endfor %}
        </div>

        <div class="my-3 flex justify-center">
            {% if wallpapers.has_previous %}
            <a
                class="mx-2 flex h-8 w-8 items-center justify-center rounded-full text-custom-dark-cyan-2 hover:bg-custom-cyan"
                href="?page=1"
                ><i class="fa-solid fa-angles-left"></i
            ></a>
            <a
                class="mx-2 flex h-8 w-8 items-center justify-center rounded-full text-custom-dark-cyan-2 hover:bg-custom-cyan"
                href="?page={{ wallpapers.previous_page_number }}"
                ><i class="fa-solid fa-chevron-left"></i
            ></a>
            {% endif %}
            <p
                class="mx-2 flex items-center justify-center text-custom-dark-cyan-2"
            >
                Página {{ wallpapers.number }} de {{ wallpapers.paginator.num_pages }}
            </p>
            {% if wallpapers.has_next %}
            <a
                class="mx-2 flex h-8 w-8 items-center justify-center rounded-full text-custom-dark-cyan-2 hover:bg-custom-cyan"
                href="?page={{ wallpapers.next_page_number }}"
                ><i class="fa-solid fa-angle-right"></i
            ></a>
            <a
                class="mx-2 flex h-8 w-8 items-center justify-center rounded-full text-custom-dark-cyan-2 hover:bg-custom-cyan"
                href="?page={{ wallpapers.paginator.num_pages }}"
                ><i class="fa-solid fa-angles-right"></i
            ></a>
            {% endif %}
        </div>
    </div>
    <aside class="m-2">
        <form>
            <label
                for="default-search"
                class="sr-only mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >Search</label
            >
            <div class="relative">
                <div
                    class="pointer-events-none absolute inset-y-0 start-0 flex items-center ps-3"
                >
                    <svg
                        class="h-4 w-4 text-gray-500 dark:text-gray-400"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 20 20"
                    >
                        <path
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
                        />
                    </svg>
                </div>
                <input
                    type="search"
                    id="default-search"
                    class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-4 ps-10 text-sm text-custom-dark-cyan-2 focus:border-custom-cyan focus:ring-custom-cyan"
                    placeholder="Buscar..."
                    required
                />
                <button
                    type="submit"
                    class="absolute bottom-2.5 end-2.5 rounded-lg bg-custom-dark-cyan-2 px-4 py-2 text-sm font-medium text-white hover:bg-custom-dark-cyan-1 focus:outline-none focus:ring-4 focus:ring-custom-cyan"
                >
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
        </form>
        <div class="my-2 flex justify-center">
            <label class="text-sm mr-1">Ordenar por:</label>
            <select class="rounded-md border border-gray-100" name="order_by" id="order_by">
                <option value="-created_at" {% if request.GET.order_by == '-created_at' %}selected{% endif %}>Más recientes</option>
                <option value="created_at" {% if request.GET.order_by == 'created_at' %}selected{% endif %}>Más antiguos</option>
                <option value="-download_count" {% if request.GET.order_by == '-download_count' %}selected{% endif %}>Nº descargas</option>
            </select>
        </div>
        <div class="my-1.5 grid grid-cols-1">
            <a
                href="{% url 'wallpaper_list' %}"
                class="category-link rounded-sm px-1.5 py-0.5 text-custom-dark-cyan-1 hover:bg-custom-dark-cyan-1 hover:text-custom-white"
                data-category-id={{0}}
                >Todos</a
            >
            {% for category in categories %}
            <a
                href="{% url 'wallpaper_list' %}?category={{category.id}}"
                class="category-link rounded-sm px-1.5 py-0.5 text-custom-dark-cyan-1 hover:bg-custom-dark-cyan-1 hover:text-custom-white"
                data-category-id={{category.id}}
                >{{category.name}} ({{category.wallpaper_count}})</a
            >
            {% endfor %}
        </div>
    </aside>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Obtén referencia al elemento select
        var orderSelect = document.getElementById("order_by");

        // Agrega un evento de cambio al select
        orderSelect.addEventListener("change", function () {
            // Obtiene el valor seleccionado
            var selectedOrder = orderSelect.value;

            // Modifica los enlaces para incluir el nuevo parámetro
            var links = document.querySelectorAll(".category-link");
            links.forEach(function (link) {
                var categoryId = link.getAttribute("data-category-id");
                if (categoryId == 0) {    
                    link.href = "{% url 'wallpaper_list' %}?order_by=" + selectedOrder;
                    return;
                }
                
                link.href = "{% url 'wallpaper_list' %}?category=" + categoryId + "&order_by=" + selectedOrder;
            });
        });
    });
</script>

{% endblock %}
